# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

build/
lib/
.venv/
.idea/


# Extra thesis stuff
*.caffemodel
*.npy
data/datasets/
data/results/
*snapshot*
*.pkl
*.mat
*tmp/
