# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

build/
lib/
.venv*/
.ipynb_checkpoints
.idea/
pythonstartup

# Extra thesis stuff
*.caffemodel
*.npy
data/datasets/
data/models/
data/results/
data/log/
*snapshot*
*.pkl
*.mat
*tmp/
*log*
*lossgraph.png
*.tags_swap
*.lprof
*.prof
*.mp
